
@{
    ViewBag.Title = "About";

	
}

<div id="about_container">
	<div id="about_content">
	<h2>About</h2>
		<div> <img class="about-img" alt="Black Jack Game Logo" src="~/Content/assets/black_jacklogo.png" />  </div>
		<button class="about-btn"  onclick="window.location.href = '@Url.Action("game_setup")'">Back</button>
	</div>
</div>
