
@{
    ViewBag.Title = "Game Rules";
}


<div id="about_content">
	<h2>Game_Rules</h2>
		<div> <img class="about-img" alt="Black Jack Game Logo" src="~/Content/assets/black_jacklogo.png" />  </div>
	<button class="about-btn"  onclick="window.location.href = '@Url.Action("game_setup")'">Back</button>
	<a onclick="window.location.href = '@Url.Action("game")'"">link to game page for testing</a>
	</div>

